{{ form_start(form) }}
    {{ form_label(form.nomGarant) }}
    {{ form_widget(form.nomGarant) }}

    {{ form_label(form.prenomGarant) }}
    {{ form_widget(form.prenomGarant) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
