<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Candidature My Digital School</title>

		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-eva.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-structure.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-header-footer.css') }}" media="all" />
			<link rel="icon" type="img" href="{{ asset('../elements/favicon.ico.png') }}"/>
		{% endblock %}
	</head>

	<body>
		<main class="form-main">
			<div class="block-main">
					<div class="aside">
						{% include "header.html.twig" %}
						<div class="fond-martin">
							<div class="mur">
								<div class="col-1"></div>
								<div class="col-2">
									<div class="blanc"></div>
									<div class="bleu"></div>
								</div>
								<div class="col-3"></div>
							</div>
							<div class="trottoir">
								<div class="ligne-1"></div>
								<div class="ligne-2"></div>
							</div>
							<div class="sol"></div>
						</div>
					</div>
					<div class="main formulaire-3">
						{% include "barre-progression.html.twig" %}
						<h1 class="titre-mds">Tes garants <span class="etape-garant">1/2</span></h1>
						<div class="form-3">
							<div class="form-zone">
								<div class="form-gauche">
									{{ form_start(form) }}
									 
									    

									
									<div class="nom-garant-1">										
										{{ form_label(form.nomGarant, 'Nom', {'label_attr': {'class': 'label label-nom'}}) }}
										<div class="champ-nom">
											{{ form_widget(form.nomGarant, {'attr': {'class': 'textfield-input', 'name': 'textfield', 'id':'nom'}}) }}
										</div>
									</div>
									<div class="prenom-garant">										
										{{ form_label(form.prenomGarant, 'Prénom', {'label_attr': {'class': 'label label-prenom'}}) }}
										<div class="champ-prenom">
											{{ form_widget(form.prenomGarant, {'attr': {'class': 'textfield-input', 'name': 'textfield', 'id':'prenom'}}) }}
										</div>
									</div>
																	
									<div class="mail-garant">
										{{ form_label(form.mailGarant, 'E-mail', {'label_attr': {'class': 'label label-mail-garant'}}) }}
										<div class="champs-mail-garant">
											{{ form_widget(form.mailGarant, {'attr': {'class': 'textfield-input', 'name': 'textfield', 'id':'mail'}}) }}
										</div>
									</div>

									<div class="tel-port-garant">
										{{ form_label(form.telGarant, 'Tel. portable', {'label_attr': {'class': 'label label-tel-port-garant'}}) }}
										<div class="champ-tel-port-garant">
											{{ form_widget(form.telGarant, {'attr': {'class': 'tel-input', 'name': 'telfield', 'id':'tel-garant'}}) }}
										</div>
									</div>

									<div class="lien-parente">
										{{ form_label(form.lienParente, 'Lien de parenté', {'label_attr': {'class': 'label label-lien-parente'}}) }}
										<div class="champ-lien-parente">
											{{ form_widget(form.lienParente, {'attr': {'class': 'textfield-input', 'name': 'textfield', 'id':'lien'}}) }}
											<a href="#" class="bouton-info"><img class="bouton" src="{{ asset('../elements/info-button.png') }}"></a>
										</div>
									</div>
								</div>
								<div class="divider-milieu"></div>
								<div class="form-droite">
									<div class="meme-adresse">
										<p class="text-adresse">Même adresse que précédemment ?</p>
										<input class="checkbox-input" type="checkbox" id="button-adresse"><label for="button-adresse"></label>
									</div>
									<div class="adresse-garant">
										{{ form_label(form.adresseGarant, 'Adresse', {'label_attr': {'class': 'label label-adresse'}}) }}
										<div class="champs-adresse">
											{{ form_widget(form.adresseGarant, {'attr': {'class': 'textfield-input', 'name': 'textfield', 'id':'adresse'}}) }}
										</div>
									</div>
									<div class="CP-ville">
										<div class="cp-garant">
											{{ form_label(form.cpGarant, 'Code postal', {'label_attr': {'class': 'label label-cp'}}) }}
											<div class="champ-cp">
												{{ form_widget(form.cpGarant, {'attr': {'class': 'number-input', 'id':'cp'}}) }}
											</div>
										</div>
										<div class="ville-garant">
											<label class="label label-ville">Ville</label>
											<div class="champs-ville">
												<input class="textfield-input" type="text" name="textfield" id="ville">
											</div>
										</div>
									</div>
									<div class="profession-garant">
										<label class="label label-profession">Profession</label>
										<div class="champ-profession">
											<input class="textfield-input" type="text" id="profession"><a href="#" class="bouton-info"><img class="bouton" src="{{ asset('../elements/info-button.png') }}"></a>
										</div>
									</div>
									<div class="entreprise">
										<label class="label label-entreprise">Entreprise</label>
										<div class="champ-entreprise">
											<input class="textfield-input" type="text" id="entreprise"><a href="#" class="bouton-info"><img class="bouton" src="{{ asset('../elements/info-button.png') }}"></a>
										</div>
									</div>
								</div>
							</div>
{{ form_end(form) }}
							<div class="container-button">
								<a class="lien precedent" href="/espl/dev/espl-symfo/public/index.php/form-2-mds">
									<button id="previous" class="btn-previous" type="button">Précédent</button>
								</a>
								<a class="lien sauvegarder" href="#">
									<button id="save" class="btn-save" type="button">Sauvegarder</button>
								</a>
								<a class="lien suivant" href="/espl/dev/espl-symfo/public/index.php/form-4-mds">
									<button id="suivant" class="btn-next" type="button" name="button">Suivant</button>
								</a>
							</div>
						</div>
					</div>
				</div>


			{% include "footer.html.twig" %}
		</main>
	</body>

</html>
