{% extends 'base.html.twig' %}

{% block title %}ChargeRecrutement{% endblock %}

{% block body %}
    <h1>ChargeRecrutement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ charge_recrutement.id }}</td>
            </tr>
            <tr>
                <th>NomCdr</th>
                <td>{{ charge_recrutement.nomCdr }}</td>
            </tr>
            <tr>
                <th>PrenomCdr</th>
                <td>{{ charge_recrutement.prenomCdr }}</td>
            </tr>
            <tr>
                <th>MailCdr</th>
                <td>{{ charge_recrutement.mailCdr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('charge_recrutement_index') }}">back to list</a>

    <a href="{{ path('charge_recrutement_edit', {'id': charge_recrutement.id}) }}">edit</a>

    {{ include('charge_recrutement/_delete_form.html.twig') }}
{% endblock %}
