<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Candidature My Digital School</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-alex.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-fouzi.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-structure.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-header-footer.css') }}" media="all" />
			<link rel="icon" type="img" href="{{ asset('../elements/favicon.ico.png') }}"/>
		{% endblock %}
	</head>

	<body>
		<main class="form-main structure aide">
			<div class="block-main">
					<!-- PARTIE ASIDE (gauche) -->
					<div class="aside aide">
						<div class="menu">
							<div class="infos_perso">
								<button class="title perso">
									<h2 class="perso">1 - Infos personnelles</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part1_answer1" class="question_aide"><p>Qu'est ce que le numéro de sécurité social ?</p></a>
										<a href="#part1_answer2" class="question_aide"><p>Pourquoi me demande-t-on mon numéro de sécurité sociale ?</p></a>
										<a href="#part1_answer3" class="question_aide"><p>Pourquoi me demande-t-on si j'ai mon permis ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_garants">
								<button class="title garant">
									<h2 class="garant">2 - Infos garants </h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part2_answer1" class="question_aide"><p>Qu'est ce qu'un garant ?</p></a>
										<a href="#part2_answer2" class="question_aide"><p>Pourquoi me demande-t-on 2 garants ?</p></a>
										<a href="#part2_answer3" class="question_aide"><p>Que fait le bouton "même adresse que moi" ?</p></a>
										<a href="#part2_answer4" class="question_aide"><p>Pourquoi me demandez-vous le métier de mes parents ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_formation">
								<button class="title formation">
									<h2 class="formation">3 - Formation souhaitée</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part3_answer1" class="question_aide"><p>En quoi consiste les deux premières années de formation ?</p></a>
										<a href="#part3_answer2" class="question_aide">	<p>Qu’est ce que la spécialisation en 3ème année ?</p></a>
										<a href="#part3_answer3" class="question_aide">	<p>Qu’est ce que la spécialisation en Master ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_dossier">
								<button class="title dossier">
									<h2 class="dossier">4 - Dossier de réflexion</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part4_answer1" class="question_aide"><p>Pourquoi dois-je répondre à ces questions ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_pj">
								<button class="title pj">
									<h2 class="pj">5 - Pièces jointes</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part5_answer1" class="question_aide"><p>Je n’ai pas tout les documents demandé, est-ce grave ?</p></a>
										<a href="#part5_answer2" class="question_aide"><p>Je n’ai pas encore mon diplôme, comment faire ?</p></a>
										<a href="#part5_answer3" class="question_aide"><p>Que sont les crédits ECTS ? </p></a>
									</ul>
								</div>
							</div>
						</div>
	        </div>
					<!-- FIN PARTIE ASIDE -->
					<!-- PARTIE MAIN (droite)-->
	        <div class="main aide">
						{% include "header.html.twig" %}
						<div class="question">
							<div class="title_question">
								<h1 class="titre-mds">Besoin d'aide ou d'une réponse à une question ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
								<div class="contact">
									<a href="/espl/dev/espl-symfo/public/index.php/contact">
										<button type="button" name="contact">CONTACT</button>
									</a>
								</div>
							</div>
						</div>
						<!-- REPONSES PARTIE 1 -->
						<div id="part1_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Qu'est ce que le numéro de sécurité social ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>
									Le numéro de sécurité social se compose de 13 chiffres, suivi d'une clé de contrôle de 2 chiffres. Il est inscrit sur ta carte vital.
								</p>
							</div>
						</div>
						<div id="part1_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on mon numéro de sécurité sociale ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Unique et personnel, le numéro de sécurité sociale sert à vous identifier simplement auprès de votre caisse primaire d'assurance maladie, mais aussi de tous les autres organismes de sécurité sociale.
								</p>
							</div>
						</div>
						<div id="part1_answer3" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on si j'ai mon permis ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Nous avons besoin de savoir si tu peux te déplacer.
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 1 -->

						<!-- REPONSES PARTIE 2 -->
						<div id="part2_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Qu'est ce qu'un garant ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>
									Ton garant est caution de toi, il répond de ta dette : il est garant de ta solvabilité.
								</p>
							</div>
						</div>
						<div id="part2_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande t-on 2 garants ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<div id="part2_answer3" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Que fait le bouton "même adresse que moi" ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									En cochant cette case tu n'as pas à remplir les informations concernant l'adresse de ton garant. Tout est rempli automatiquement !
								</p>
							</div>
						</div>
						<div id="part2_answer4" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous le métier de mes parents ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Tu n'es pas obligé de répondre à cette question.
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 2 -->

						<!-- REPONSES PARTIE 3 -->
						<div id="part3_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">En quoi consiste les deux premières années de formation ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Le Cycle Web et Développement est une formation initiale à plein temps de deux ans nourrie de deux stages de fin d’année (3 mois par stage) et de 140 heures de travail collaboratif en mode projet. Pour plus d’information n’hésite pas à nous contacter. Tu peux aussi te rendre sur le <a href="https://www.mydigitalschool.com/">
									 site de l’école.</a>
								</p>
							</div>
						</div>
						<div id="part3_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Qu’est ce que la spécialisation en 3ème année ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Pour la troisième année de Bachelor tu dois choisir ta spécialité parmis les 4 proposées. Cette année de formation est réalisée en rythme alterné école-entreprise (contrat de professionnalisation ou stage longue durée) et permet de valider un Titre Certifié par l’état de niveau II (Bac+3 – niveau Licence). Pour le moment tu peux mettre plusieurs choix, nous choisirons ensemble la meilleure solution en fonction de ton projet. Pour plus d’information n’hésite pas à nous contacter. Tu peux aussi te rendre sur le <a href="https://www.mydigitalschool.com/">site de l’école</a>.
								</p>
							</div>
						</div>
						<div id="part3_answer3" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Qu’est ce que la spécialisation en Master ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Tu dois choisir une spécialité parmis les deux proposées dans le cursus Master. La formation en 2 ans se réalise en rythme alterné école-entreprise (contrat de professionnalisation ou stage longue durée). Pour le moment tu peux mettre plusieurs choix, nous choisirons ensemble la meilleure solution en fonction de ton projet. Pour plus d’information n’hésite pas à nous contacter. Tu peux aussi te rendre sur le <a href="https://www.mydigitalschool.com/">site de l’école</a>.
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 3 -->

						<!-- REPONSES PARTIE 4 -->
						<div id="part4_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi dois-je répondre à ces questions ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Nous avons besoin d’en savoir plus sur toi afin de construire un projet commun de formation. Tes réponses aideront nos conseillers de formation à comprendre les raisons de ton choix et à préparer l’entretien de recrutement.
								</p>
							</div>
						</div>

						<!-- FIN REPONSES PARTIE 4 -->

						<!-- REPONSES PARTIE 5 -->
						<div id="part5_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Je n’ai pas tout les documents demandé, est-ce grave ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>
									Tu dois obligatoirement nous fournir une photo d’identité, ton cv (avec une photo), une lettre de motivation ainsi qu’une pièce d’identité recto/verso.
								</p>
							</div>
						</div>
						<div id="part5_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Je n’ai pas encore mon diplôme, comment faire ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Si ton diplôme est en cours d’obtention ce n’est pas un problème. Tu nous le fournira dès que tu l’auras obtenu !
								</p>
							</div>
						</div>
						<div id="part5_answer3" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Que sont les crédits ECTS ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>
									Les crédits ECTS sont des points accumulés par les étudiants du supérieur et qui créent une équivalence du niveau d’étude à l’échelle européenne. Les crédits ECTS visent alors à certifier un niveau d’étude reconnu dans toute l’union européenne.
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 5 -->
					</div>
				<!-- FIN PARTIE MAIN -->
			{% include "footer.html.twig" %}
		</main>
		{% block javascript %}
		<script>

			$('.title').click(function(e) {
			e.preventDefault();
			var $this = $(this);

			if ($this.next().hasClass('show')) {
				$this.next().removeClass('show');
			  $this.next().slideUp(350);
			} else {
			   $this.parent().parent().find('.questions').removeClass('show');
			   $this.parent().parent().find('.questions').slideUp(350);
			   $this.next().toggleClass('show');
			   $this.next().slideToggle(350);
			}
			});

			$('.question_aide').click(function(){
			$(".question").css("display", "none");
			});

		</script>
		{% endblock %}
	</body>
</html>
