<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Candidature My Digital School</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-alex.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-structure.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-header-footer.css') }}" media="all" />
			<link rel="icon" type="img" href="{{ asset('../elements/favicon.ico.png') }}"/>
		{% endblock %}
	</head>

	<body>
		<main class="form-main structure aide">
			<div class="block-main">
					<!-- PARTIE ASIDE (gauche) -->
					<div class="aside aide">
						<div class="menu">
							<div class="infos_perso">
								<button class="title perso">
									<h2 class="perso">1 - Infos personnelles</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part1_answer1" class="question_aide"><p>Pourquoi me demande-t-on mon numéro de sécurité sociale ?</p></a>
										<a href="#part1_answer2" class="question_aide"><p>Pourquoi me demandez-vous si j'ai mon permis ?<p></a>
									</ul>
								</div>
							</div>
							<div class="infos_garants">
								<button class="title garant">
									<h2 class="garant">2 - Infos garants </h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part2_answer1" class="question_aide"><p>Pourquoi me demande-t-on 2 garants ?</p></a>
										<a href="#part2_answer2" class="question_aide"><p>Pourquoi me demandez-vous le métier de mes parents ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_formation">
								<button class="title formation">
									<h2 class="formation">3 - Formation souhaitée</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part3_answer1" class="question_aide"><p>Pourquoi me demande-t-on 2 garants ?</p></a>
										<a href="#part3_answer2" class="question_aide">	<p>Pourquoi me demandez-vous le métier de mes parents ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_dossier">
								<button class="title dossier">
									<h2 class="dossier">4 - Dossier de réflexion</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part4_answer1" class="question_aide"><p>Pourquoi me demande-t-on 2 garants ?</p></a>
										<a href="#part4_answer2" class="question_aide"><p>Pourquoi me demandez-vous le métier de mes parents ?</p></a>
									</ul>
								</div>
							</div>
							<div class="infos_pj">
								<button class="title pj">
									<h2 class="pj">5 - Pièces jointes</h2>
									<img class="fleche" src="{{ asset('../elements/angle-arrow-down.png') }}">
								</button>
								<div class="questions">
									<ul>
										<a href="#part5_answer1" class="question_aide"><p>Pourquoi me demande-t-on 2 garants ?</p></a>
										<a href="#part5_answer2" class="question_aide"><p>Pourquoi me demandez-vous le métier de mes parents ?</p></a>
									</ul>
								</div>
							</div>
						</div>
	        </div>
					<!-- FIN PARTIE ASIDE -->
					<!-- PARTIE MAIN (droite)-->
	        <div class="main aide">
						{% include "header.html.twig" %}
						<div class="question">
							<div class="title_question">
								<h1 class="titre-mds">Besoin d'aide ou d'une réponse à une question ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
								<div class="contact">
									<a href="/espl/dev/espl-symfo/public/index.php/contact">
										<button type="button" name="contact">CONTACT</button>
									</a>
								</div>
							</div>
						</div>
						<!-- REPONSES PARTIE 1 -->
						<div id="part1_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on mon numéro de sécurité sociale ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Trouver réponse
								</p>
							</div>
						</div>
						<div id="part1_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous si j'ai mon Permis ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 1 -->

						<!-- REPONSES PARTIE 2 -->
						<div id="part2_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on 2 garants ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Trouver réponse
								</p>
							</div>
						</div>
						<div id="part2_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous le métier de mes parents ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 2 -->

						<!-- REPONSES PARTIE 3 -->
						<div id="part3_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on 2 garants ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Trouver réponse
								</p>
							</div>
						</div>
						<div id="part3_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous le métier de mes parents ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 3 -->

						<!-- REPONSES PARTIE 4 -->
						<div id="part4_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on 2 garants ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Trouver réponse
								</p>
							</div>
						</div>
						<div id="part4_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous le métier de mes parents ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 4 -->

						<!-- REPONSES PARTIE 5 -->
						<div id="part5_answer1" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demande-t-on 2 garants ?</h1>
							</div>
							<hr></hr>
							<div class="answer_question">
								<p>Trouver réponse
								</p>
							</div>
						</div>
						<div id="part5_answer2" class="questions">
							<div class="title_question">
								<h1 class="titre-mds">Pourquoi me demandez-vous le métier de mes parents ?</h1>
							</div>
							<hr></hr>
							<div  class="answer_question">
								<p>Tu trouveras toutes tes réponses en parcourant le menu sur ta gauche,
									sinon tu peux nous contacter à travers le formulaire de contact en cliquant
									sur le bouton ci-dessous
								</p>
							</div>
						</div>
						<!-- FIN REPONSES PARTIE 5 -->
					</div>
				<!-- FIN PARTIE MAIN -->
			{% include "footer.html.twig" %}
		</main>
		{% block javascript %}
		<script>

			$('.title').click(function(e) {
			e.preventDefault();
			var $this = $(this);

			if ($this.next().hasClass('show')) {
				$this.next().removeClass('show');
			  $this.next().slideUp(350);
			} else {
			   $this.parent().parent().find('.questions').removeClass('show');
			   $this.parent().parent().find('.questions').slideUp(350);
			   $this.next().toggleClass('show');
			   $this.next().slideToggle(350);
			}
			});

			$('.question_aide').click(function(){
			$(".question").css("display", "none");
			});

		</script>
		{% endblock %}
	</body>
</html>
