<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Candidature My Digital School</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-eva.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-fouzi.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-structure.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-header-footer.css') }}" media="all" />
			<link rel="icon" type="img" href="{{ asset('../elements/favicon.ico.png') }}"/>
		{% endblock %}
	</head>

	<body>
		<main class="form-main">
			<div class="block-main">
				<div class="page-presentation">
					{% include "header.html.twig" %}
					<div class="texte-mds">
						<h1 class="titre-mds">Ton avancement est avancé</h1>
						<div class="intro-mds">
							<p>Tu as reçu un mail !</p>
							<p>Tu retrouveras un code qui te sera utile pour reprendre ta candidature là où l'avais laissée.</p>
						</div>
					</div>

					<div class="container-button">
						<a href="https://www.mydigitalschool.com/demande-de-documentation" class="doc"><button type="button">Recevoir la documentation</button></a>
						<a href="/espl/dev/espl-symfo/public/index.php/home" class="begin"><button type="button">Retour à la page d'accueil</button></a>
						<a href="/espl/dev/espl-symfo/public/index.php/connexion-mds" class="continue"><button type="button">Reprendre ma candidature</button></a>

					</div>

				</div>
			</div>

			{% include "footer.html.twig" %}
		</main>
	</body>

</html>
