<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Candidature My Digital School</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-eva.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-alex.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-structure.css') }}" media="all" />
			<link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-header-footer.css') }}" media="all" />
			<link rel="icon" type="img" href="{{ asset('../elements/favicon.ico.png') }}"/>
		{% endblock %}
	</head>

	<body>
		<main class="form-main">
			<div class="block-main">

					<div class="aside">
						{% include "header.html.twig" %}
						<div class="fond-martin">
							<div class="mur">
								<div class="col-1"></div>
								<div class="col-2">
									<div class="blanc"></div>
									<div class="bleu"></div>
								</div>
								<div class="col-3"></div>
							</div>
							<div class="trottoir">
								<div class="ligne-1"></div>
								<div class="ligne-2"></div>
							</div>
							<div class="sol"></div>
						</div>
					</div>
					<div class="main dossier-reflexion">
						{% include "barre-progression.html.twig" %}
						<h1 class="titre-mds">Dossier de Reflexion</h1>
            <h3 class="renseignement-mds">Réponds aux questions suivantes sur un documents à part (format PDF), en précisant clairement ton nom, prénom et le numéro de la question traitée.</h3>
						<div class="dossier-questions">
							<div class="dossier-question 1">
								<h3 class="dossier-numero">01.</h3>
								<div class="questions">
									<p>Quel est ton projet professionnel ?</p>
									<p>Quelles sont tes motivations pour la spécialisation choisie ?</p>
									<p>Quels atouts as-tu pour cette formation ?</p>
									<p>Quelles sont, selon-toi, les valeurs importantes dans la vie professionnelle ?</p>
								</div>
							</div>
							<div class="dossier-question 2">
								<h3 class="dossier-numero">02.</h3>
								<div class="questions">
									<p>Répondre aux questions suivantes en Anglais.</p>
									<p>Describe a difficult situation you met.</p>
									<p>Explain the tools you used to solve this difficulty and what you learnt about it.</p>
								</div>
							</div>
							<div class="bouton-upload">
								<input type="file" id="UPLOAD" name="UPLOAD" accept=".pdf"/>
								<label for="UPLOAD">IMPORTER FICHIER PDF</label>
								<div class="preview">
									<!-- contient texte avec une balise <p> quand un fichier est chargé
									avec le bouton upload-->
								</div>
							</div>

						</div>
						<div class="boutons-nav">
							<div class="boutons">
								<button type="button" name="precedent" class="precedent">PRECEDENT</button>
								<button type="button" name="enregistrer" class="enregistrer">ENREGISTRER</button>
								<button type="button" name="suivant" class="suivant">SUIVANT</button>
							</div>
						</div>
					</div>
				</div>


				{% include "footer.html.twig" %}
				{% block javascript %}
					<script>
						var input = document.querySelector('input');
						var preview = document.querySelector('.preview');

						var img = new Image(50, 50);
						img.src = "elements/permis-oui-hover.png";

						input.style.opacity = 0;

						input.addEventListener('change', updateImageDisplay);

						function updateImageDisplay(){
							while(preview.firstChild){
								preview.removeChild(preview.firstChild);
							}

							var curFiles = input.files;
							if (curFiles.length === 0) {
								var para = document.createElement('p');
								para.textContent = 'Pas de fichier chargé pour le moment';
								preview.appendChild(para);
							}
							else {
								var list = document.createElement('p');
								preview.appendChild(list);
								for (var i = 0; i < curFiles.length; i++){
									var fileTypes = [
										'application/pdf'
									]



									function validFileType(file) {
										for(var i = 0; i < fileTypes.length; i++) {
											if(file.type === fileTypes[i]) {
												return true;
											}
										}
										return false;
									}


									if(validFileType(curFiles[i])){

										list.textContent = curFiles[i].name + img;
									}
									else {
										list.textContent = curFiles[i].name + ' : Fichier non valide.';
									}

									list;
								}
							}
						}
					</script>
				{% endblock %}
		</main>
	</body>

</html>
