<html>
   <head>
       <meta charset="utf-8">
       <title>Campus ESPL - Choisis ton école</title>
       {% block stylesheets %}
         <link rel="stylesheet" type="text/css" href="{{ asset('../css/normalize.css') }}" media="all" />
         <link rel="stylesheet" type="text/css" href="{{ asset('../css/style.css') }}" media="all" />
         <link rel="stylesheet" type="text/css" href="{{ asset('../css/style-mds-fouzi.css') }}" media="all" />
       {% endblock %}

    </head>
    <body>
      <main class="home-main">
        <h1 class="choose-school">Choisissez votre école</h1>
        <div class="school-box">
          <div class="ecole MDS">
            <a href="/espl/dev/espl-symfo/public/index.php/presentation">
              <img src="{{ asset('../elements/logo-mds2.png') }}" alt="logo mds">
            </a>
          </div>
          <div class="ecole IPAC">
            <a href="#">
              <img src="{{ asset('../elements/logo-ipac.png') }}" alt="logo ipac">
            </a>
          </div>
          <div class="ecole WIN">
            <a href="#">
              <img src="{{ asset('../elements/logo-win.png') }}" alt="logo win">
            </a>
          </div>
          <div class="ecole ESPL">
            <a href="#">
              <img src="{{ asset('../elements/logo-espl.png') }}" alt="logo espl">
            </a>
          </div>
          <div class="ecole MBWAY">
            <a href="#">
              <img src="{{ asset('../elements/logo-mbway.png') }}" alt="logo mbway">
            </a>
          </div>
        </div>
      </main>
    </body>
</html>
