<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fiche récapitulative candidature {{candidat.prenomCandidat}} {{candidat.nomCandidat}}</title>
    <style>
	    @font-face {
	    	font-family: "Ubuntu-condensed";
	    	src: url('../fonts/ubuntu/Ubuntu-C.ttf') format("truetype");
	    }

			@font-face {
				font-family: "Ubuntu";
				src: url('../fonts/ubuntu/UbuntuCondensed-Regular.ttf');
			}

			@font-face {
				font-family: "Ubuntu-Mono";
				src: url('../fonts/ubuntu/UbuntuMono-R.ttf');
			}

	    .flex-title .logo-mds {
	      margin: auto;
	      margin-left: 0;
	      width: 15%;
	    }

	    .flex-title .title-pdf {
	      text-transform: uppercase;
	      font-family: "Ubuntu-condensed";
				font-weight: normal;
	    	font-size: 1.5em;
	      margin: auto;
				text-align: center;
				padding-top: 5px;
	    }

			.bloc-intro {
				padding-top: 130px;
			}

			.bloc-intro img {
				width: 150px;
			}

			.bloc-intro .infos-intro {
				left: 200px;
				position: absolute;
				font-family: "Ubuntu-Mono";
			}

			.bloc-intro .infos-intro span {
				font-size: 1.2rem;
			}

			.maj {
				text-transform: uppercase;
			}

			.content .block {
				width: 45%;
				font-family: "Ubuntu-Mono";
			}

			.content .block .infos-front {
				margin: 2px 0;
				color: #4d4d4d;
			}

			.content .block .infos-bdd {
				color: #000;
			}

			.content .block .title-block {
				font-family: "Ubuntu-Mono";
				font-weight: normal;
				margin: 0;
				text-align: center;
			}

			.content .block .title-container {
				margin-bottom: 10px;
			}

			.content .block-right {
				right: 0;
				position: absolute;
				top: 360px;
			}

			.content .block-left {
				left: 0;
				position: absolute;
				top: 360px;
			}

			.content .bottom-left {
				top: 680px;
			}

			.content .title-container .title-yellow {
				border-bottom: 1px solid #ffbd1d;
			}

			.content .title-container .title-orange {
				border-bottom: 1px solid #ff8a22;
			}

			.content .title-container .title-blue {
				border-bottom: 1px solid #17e5f5;
			}

			.content .bottom-left {
				width: 100%;
			}

			.content .bottom-left .garant-1 {
				left: 0;
				position: absolute;
			}

			.content .bottom-left .garant-2 {
				left: 400px;
				position: absolute;
			}

			.content .block .garant-title {
				font-size: 1.2rem;
			}

    </style>
  </head>
 <body>

    <div class="flex-title">
      <img class="logo-mds" src="../elements/logo-mds2.png"></img>
      <h1 class="title-pdf">{{title}}</h1>
    </div>
		<div class="bloc-intro">
			<img src="../elements/lucaptain.jpg" alt="Photo étudiant">
			<div class="infos-intro">
				<span>{{candidat.prenomCandidat}} </span><span class="maj">{{candidat.nomCandidat}}</span>
				{% set age = 0 %}
				{% if "now"|date("m") > candidat.moisNaissanceCandidat %}
					{% set age = "now"|date("Y") - candidat.anneeNaissanceCandidat %}
				{% elseif "now"|date("m") < candidat.moisNaissanceCandidat %}
					{% set age = "now"|date("Y") - candidat.anneeNaissanceCandidat - 1 %}
				{% else %}
					{% if "now"|date("d") > candidat.jourNaissanceCandidat %}
						{% set age = "now"|date("Y") - candidat.anneeNaissanceCandidat %}
					{% elseif "now"|date("d") < candidat.jourNaissanceCandidat %}
						{% set age = "now"|date("Y") - candidat.anneeNaissanceCandidat - 1 %}
					{% else %}
						{% set age = "now"|date("Y") - candidat.anneeNaissanceCandidat %}
					{% endif %}
				{% endif %}
				<p>{{ age }} ans</p>
				<p>{{candidat.mailCandidat}}</p>
				<p>0{{candidat.mobileCandidat}}</p>
			</div>
		</div>
		<div class="content">
			<div class="block block-left top-left">
				<div class="title-container">
					<h2 class="title-block title-yellow">Informations étudiant</h2>
				</div>
				<div class="detail">
					<p class="infos-front">Date de naissance : <span class="infos-bdd">{{candidat.jourNaissanceCandidat}}/{% if candidat.moisNaissanceCandidat|length < 2 %}0{{candidat.moisNaissanceCandidat}}{% endif %}/{{candidat.anneeNaissanceCandidat}}</span></p>
					<p class="infos-front">Lieu de naissance : <span class="infos-bdd">{{candidat.lieuNaissanceCandidat}}</span></p>
					<p class="infos-front">Tél. fixe : <span class="infos-bdd">0{{candidat.fixeCandidat}}</span></p>
					<p class="infos-front">Adresse : <span class="infos-bdd">{{candidat.adresseCandidat}}, {{candidat.cpCandidat}} {{candidat.villeCandidat}}</span></p>
					<p class="infos-front">Num. de sécurité sociale : </br><span class="infos-bdd">{{candidat.secuCandidat}} </span></p>
					<p class="infos-front">Permis : <span class="infos-bdd">{% if candidat.permisCandidat == 1 %}Oui{% else %}Non{% endif %}</span></p>
					<p class="infos-front">A connu l'école par : <span class="infos-bdd">Internet</span></p>
					<p class="infos-front">A assisté à une JPO : <span class="infos-bdd">Non</span></p>
				</div>
			</div>
			<div class="block block-right top-right">
				<div class="title-container">
					<h2 class="title-block title-orange">Formation souhaitée</h2>
				</div>
				<div class="detail">
					<p class="infos-front">Formation demandée : </br><span class="infos-bdd">Bachelor année 1 cycle web et digital</span></p>
				</div>
			</div>
			<div class="block block-left bottom-left">
				<div class="title-container">
					<h2 class="title-block title-blue">Informations garant(s)</h2>
				</div>
				<div class="detail garant-1">
					<span class="infos-bdd garant-title">Garant 1 : </span>
					<p class="infos-front">Nom - Prénom : <span class="infos-bdd">Marc <span class="maj">Durand</span></span></p>
					<p class="infos-front">Profession : <span class="infos-bdd">Militaire</span></p>
					<p class="infos-front">Entreprise : <span class="infos-bdd">Armée de l'air</span></p>
					<p class="infos-front">Adresse : <span class="infos-bdd">17 rue quier, 49100 Angers</span></p>
					<p class="infos-front">Lien de parenté : <span class="infos-bdd">Père</span></p>
					<p class="infos-front">Tél. portable : <span class="infos-bdd">07-08-09-10-11</span></p>
					<p class="infos-front">E-mail : <span class="infos-bdd">marc.durand@gmail.com</span></p>
				</div>
				<div class="detail garant-2">
					<span class="infos-bdd garant-title">Garant 2 : </span>
					<p class="infos-front">Nom - Prénom : <span class="infos-bdd">Jeanne <span class="maj">Durand</span></span></p>
					<p class="infos-front">Profession : <span class="infos-bdd">Boulangère</span></p>
					<p class="infos-front">Entreprise : <span class="infos-bdd">SARL Durand</span></p>
					<p class="infos-front">Adresse : <span class="infos-bdd">17 rue quier, 49100 Angers</span></p>
					<p class="infos-front">Lien de parenté : <span class="infos-bdd">Mère</span></p>
					<p class="infos-front">Tél. portable : <span class="infos-bdd">06-07-08-09-10</span></p>
					<p class="infos-front">E-mail : <span class="infos-bdd">durand.jeanne49@gmail.com</span></p>
				</div>
			</div>
		</div>
 </body>
</html>
