{% extends 'base.html.twig' %}

{% block title %}SousQuestion index{% endblock %}

{% block body %}
    <h1>SousQuestion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OptionSsQuestion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_question in sous_questions %}
            <tr>
                <td>{{ sous_question.id }}</td>
                <td>{{ sous_question.optionSsQuestion }}</td>
                <td>
                    <a href="{{ path('sous_question_show', {'id': sous_question.id}) }}">show</a>
                    <a href="{{ path('sous_question_edit', {'id': sous_question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sous_question_new') }}">Create new</a>
{% endblock %}
